@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');
@layer base {
    body {
        @apply font-[Poppins];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.heroAnimationSection {}

.content-div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient( to right, rgba(112, 157, 255, 0.5), hsla(242, 74%, 61%, 0.5))!important;
}